@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap');

body {
  font-family: 'Atkinson Hyperlegible Next', sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  min-height: 70vh;
  overflow-x: hidden;
  margin: 0;
}

main {
  padding: 3rem .5rem;
}

header {
  border-bottom: 3px solid #0074d9;
  background-color: white;
}

footer {
  border-top: 3px solid #0074d9;
}

main, header, footer {
  max-width: 50rem;
}

header, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

footer a, button {
  border: none;
  border-radius: .3em;
  background-color: #0074d9;
  color: white;
  padding: .5em;
  display: flex;
}

footer a:hover, button:hover {
  filter: brightness(80%);
}

header a, main a {
  color: inherit;
  text-decoration: underline solid #999 2px;
}

header a:hover, main a:hover {
  text-decoration: none;
}

img {
  width: 100%;
}

@media screen and (width >= 70rem) {
  #outline-toggle {
    display: none;
  }

  #outline {
    display: flex;
    width: 15rem;
  }

  main, header, footer {
    margin-left: 18rem;
  }
}

@media screen and (width < 70rem) {
  #outline {
    box-shadow: .4rem 0rem .8rem #bbb;
    max-width: calc(max(50vw, 15rem));
    width: calc(min(50vw, 15rem));
  }

  #outline.hidden {
    display: none;
  }

  #outline:not(.hidden) {
    display: flex;
  }

  header {
    position: sticky;
    top: 0px;
  }

  main, header, footer {
    margin: 0rem auto;
  }
}

#outline {
  position: fixed;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(0, 0%, 95%);
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 2rem 1rem;
  overflow-x: scroll;
}

#outline p {
  margin-top: 0;
  margin-bottom: 0;
}

#outline ol {
  padding-inline-start: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

#outline a {
  color: inherit;
  text-decoration: none;
}

#outline a:hover, #outline a.current:hover {
  color: #0074d9;
}

#outline a.current {
  font-weight: bold;
}

pre {
    max-width: calc(100% - 2.5rem);
    overflow-x: auto;
    background-color: #eee;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

pre code {
    padding: 0;
    background: none;
}

code {
    background-color: #eee;
    font-size: 1rem;
    padding: 0.1rem;
    border-radius: 5px;
    font-family: 'Atkinson Hyperlegible Mono', monospace;
}
